body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}

header img {
    width: 30%;
    height: auto;
    margin-bottom: 3%;
}

nav {
    display: inline-block;
    margin-top: 20px;
}

nav a {
    background-color: #22222200;
    border: 1px solid white;
    padding: 15px 30px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 24px;
}

nav a:last-child {
    margin-right: 0;
}

nav a:hover {
    background-color: white;
    color: black;
}

#Intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 10%;
    background-color: rgb(14, 14, 14); /* rgb(29, 29, 29) */
    border: 2px solid rgb(29, 29, 29);
    transition: border-color 0.3s;
    transition: background-color 0.3s;
}

#Intro:hover {
    border-color: rgb(29, 29, 29);
    background-color: whitesmoke;
}

#MissatgeIntro {
    text-align: center;
    margin-bottom: 20px;
}

#Intro:hover #MissatgeIntro h1 {
    color: black;
}

#MissatgeIntro h1 {
    font-size: 60px;
    padding: 10%;
}

#ImatgeIntro {
    width: 80%;
    padding: 3%;
}

#ImatgeIntro img {
    width: 100%;
    height: auto;
}

.MissatgesUnder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%; 
    align-items: center;  /* This will center vertically */
    justify-content: center; /* This will center horizontally */
    border-radius: 20px;
    margin: 10%;
}

.MissatgeUnder {
    text-align: center;
    padding: 2%;
    margin-bottom: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 20px;
}

.MissatgeUnder p {
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    #Intro {
        flex-direction: row;
    }

    #MissatgeIntro {
        flex: 1;
        padding-left: 0;
        margin-bottom: 0;
        text-align: left;
    }

    #ImatgeIntro {
        width: auto;
        flex: 1;
        padding: 0;
    }
}