body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 12%;
    height: auto;
    margin-bottom: 2%;
}

nav {
    display: inline-block;
}

nav a {
    background-color: #22222200;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: white;
    color: black;
}